<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/quizzes">QuizApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/quizzes">My Quizzes</a>
        <a class="nav-item nav-link" href="/quizzes/new">Create New Quiz</a>
      </div>

      <div class="navbar-nav">
        <a class="nav-item nav-link" style="margin-left: 47.5em" href="/login">Login</a>
        <a class="nav-item nav-link" style="margin-left: 0.5em" href="/register">Register</a>
      </div>

    </div>
  </nav>
</header>
