<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />


    <title>Create Quiz</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <form action="/api/widgets/quizzes/new" method="POST">
      <div class="title-div">
        <h1>Create Quiz</h1>
        <div class="checkboxes">
          <h3 class="checkbox-title">Public</h3>
          <input id="a" type="checkbox" name="active" value="true" tabindex="1"/>
          <label class="label-check" for="a"></label>
        </div>
      </div>



        <div class="container">

          <label for="name"><h2>Quiz Name</h2></label>
          <input class="form-control no-outline" type="text" name="name" placeholder="Enter name of quiz">
          <label for="description"><h2>Description</h2></label>
          <input class="form-control no-outline" type="text" name="description" placeholder="Short description of your quiz">
          <label for="genre"><h2>Genre</h2></label>
          <input class="form-control no-outline" type="text" name="genre" placeholder="">

          <!-- <h2>Add Thumbnail</h2>
          <img src="" style="width:100px; height: 100px;"/> -->

          <section class="qa-container">
            <div class="question-container">
              <label for="question1"><h2>Question 1</h2></label>
              <input class="form-control question_field" type="text" name="question1" placeholder="Enter question">
            </div>
              <div class="answer-container radio-toolbar">
                <h3>Select correct answer</h3>

                <div class="answer-container-individual">
                  <input type="radio" id="answer1_q1" name="correct1" value="1" checked>
                  <label for="answer1_q1">A</label>
                  <input class="form-control answer_field " type="text" name="answer1" placeholder="">
                </div>
                <div class="answer-container-individual">
                  <input type="radio" id="answer2_q1" name="correct1" value="2">
                  <label for="answer2_q1">B</label>
                  <input class="form-control answer_field" type="text" name="answer1" placeholder="">
                </div>
                <div class="answer-container-individual">
                  <input type="radio" id="answer3_q1" name="correct1" value="3">
                  <label for="answer3_q1">C</label>
                  <input class="form-control answer_field" type="text" name="answer1" placeholder="">
                </div>
                <div class="answer-container-individual">
                  <input type="radio" id="answer4_q1" name="correct1" value="4">
                  <label for="answer4_q1">D</label>
                  <input class="form-control answer_field" type="text" name="answer1" placeholder="">
                </div>
              </div>
            </section>

            <section class="qa-container">
              <div class="question-container">
                <label for="question2"><h2>Question 2</h2></label>
                <input class="form-control question_field" type="text" name="question2" placeholder="Enter question">
              </div>
                <div class="answer-container radio-toolbar">
                  <h3>Select correct answer</h3>

                  <div class="answer-container-individual">
                    <input type="radio" id="answer1_q2" name="correct2" value="1" checked>
                    <label for="answer1_q2">A</label>
                    <input class="form-control answer_field " type="text" name="answer2" placeholder="">
                  </div>
                  <div class="answer-container-individual">
                    <input type="radio" id="answer2_q2" name="correct2" value="2">
                    <label for="answer2_q2">B</label>
                    <input class="form-control answer_field" type="text" name="answer2" placeholder="">
                  </div>
                  <div class="answer-container-individual">
                    <input type="radio" id="answer3_q2" name="correct2" value="3">
                    <label for="answer3_q2">C</label>
                    <input class="form-control answer_field" type="text" name="answer2" placeholder="">
                  </div>
                  <div class="answer-container-individual">
                    <input type="radio" id="answer4_q2" name="correct2" value="4">
                    <label for="answer4_q2">D</label>
                    <input class="form-control answer_field" type="text" name="answer2" placeholder="">
                  </div>
                </div>
              </section>

              <section class="qa-container">
                <div class="question-container">
                  <label for="question3"><h2>Question 3</h2></label>
                  <input class="form-control question_field" type="text" name="question3" placeholder="Enter question">
                </div>
                  <div class="answer-container radio-toolbar">
                    <h3>Select correct answer</h3>

                    <div class="answer-container-individual">
                      <input type="radio" id="answer1_q3" name="correct3" value="1" checked>
                      <label for="answer1_q3">A</label>
                      <input class="form-control answer_field " type="text" name="answer3" placeholder="">
                    </div>
                    <div class="answer-container-individual">
                      <input type="radio" id="answer2_q3" name="correct3" value="2">
                      <label for="answer2_q3">B</label>
                      <input class="form-control answer_field" type="text" name="answer3" placeholder="">
                    </div>
                    <div class="answer-container-individual">
                      <input type="radio" id="answer3_q3" name="correct3" value="3">
                      <label for="answer3_q3">C</label>
                      <input class="form-control answer_field" type="text" name="answer3" placeholder="">
                    </div>
                    <div class="answer-container-individual">
                      <input type="radio" id="answer4_q3" name="correct3" value="4">
                      <label for="answer4_q3">D</label>
                      <input class="form-control answer_field" type="text" name="answer3" placeholder="">
                    </div>
                  </div>
                </section>

          <div class='btn-container'>
            <button type="submit" class="btn btn-primary">Publish</button>
          </div>
        </div>
      </form>
    </main>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
