<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create Quiz</title>

    <script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <form action="/api/widgets/quizzes/new" method="POST">
        <div>
          <h1>Create Quiz</h1>
          <label for="name">Quiz Name</label>
          <input class="form-control" type="text" name="name" placeholder="Enter name of quiz">
          <label for="description">Description</label>
          <input class="form-control" type="text" name="description" placeholder="Short description of your quiz">

          <img src="" style="width:100px; height: 100px;"/> <br><br>

          <label for="question">Question</label>
          <input class="form-control" type="text" name="question" placeholder="Enter question">

          <label for="answer">Answer A</label>
          <input type="radio" id="right-answer" name="correct" value="1">
          <input class="form-control" type="text" name="answer" placeholder="Answer Option">

          <label for="answer">Answer B</label>
          <input type="radio" id="right-answer" name="correct" value="2">
          <input class="form-control" type="text" name="answer" placeholder="Answer Option">

          <label for="answer">Answer C</label>
          <input type="radio" id="right-answer" name="correct" value="3">
          <input class="form-control" type="text" name="answer" placeholder="Answer Option">

          <label for="answer">Answer D</label>
          <input type="radio" id="right-answer" name="correct" value="4">
          <input class="form-control" type="text" name="answer" placeholder="Answer Option">

        </br>
          <button class="btn btn-primary">Add Question</button>

          <button type="submit" class="btn btn-primary">Publish</button>
        </div>
      </form>
    </main>


    <!-- Bootstrap JS -->

  </body>
</html>
