<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />
  </head>

  <header>
    <%- include('partials/_header') %>
  </header>

  <body>
    <br>
    <h3>Quiz Results</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Attempted On</th>
          <th scope="col">Score</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% for(let item in quizObj) { %>
        <tr>
          <td><%= quizObj[item].name %></td>
          <td><%= quizObj[item].endTime %></td>
          <td><%= quizObj[item].score %>%</td>
          <% if (quizObj[item].score >= 70) { %>
            <td>Pass</td>
          <% } else {%>
            <td>Fail</td>
          <% } %>
        </tr
        <% } %>
      </tbody>
    </table>

      <div class="card bg-light mb-3">
        <div class="card-header">Share your Results!</div>
        <div class="card-body">
            <ul>
              <li><a href="https://www.facebook.com/sharer.php?..." target="blank" rel="noopener noreferrer">Facebook</a></li>
              <li><a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer">LinkedIn</a></li>
              <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer">Twitter</li>
            </ul>
        </div>
      </div>


  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
