<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/view_score.css" type="text/css" />
  <title>Share</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <div class="card bg-light mb-3">
      <div class="card-header">Share your Activity!</div>
       <div class="card-body">
        <ul>
          <li><a href="https://www.facebook.com/sharer.php?..." target="blank" rel="noopener noreferrer">Facebook</a></li>
          <li><a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer">Twitter</li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>
