
h3 {
  padding: 10px;
  font-weight: 900;
}

table, td {
  background-color: #CCCCFF;
}

th {
  background-color: #605df7;
  color: white;
}

#delete-content {
  display: flex;
  justify-content: center;
}
