.title {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.body {
  margin: 1em;
//   margin-left: 20em;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.question {
  margin: 1em;
  // margin-left: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-check input[type="radio"] {
  display: none;
}

.form-check label {
  padding: 4px;
  // border: 1px solid #9370DB;
  color: #605df7;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-check input[type="radio"]:checked+span {
  padding: 6px;
  border: 1px solid #605df7;
  background-color: #605df7;
  border-radius: 3px;
  color: #fff
}

